:root {
  --light-green: #9df2b0;
  --light-yellow: #f7f4a4;
  --light-pink: #ffbef1;
  --light-blue: #bbe3f0;
  --white: #fff;
  --black: #000;
}
body {
  /*font-family à trouver*/
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: system-ui;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

h1 {
  font-size: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  border: solid 1px black;
  height: 100vh;
}

.straightroad {
  background-color: var(--light-pink);
  background-size: 40px 40px;
  height: 100vh;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.straightroad__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.lastscreen {
  background-color: var(--light-blue);
  background-size: 40px 40px;
  height: 100vh;
  background-image: linear-gradient(to right, var(--white) 1px, transparent 1px),
    linear-gradient(to bottom, var(--white) 1px, transparent 1px);
}

.lastscreen__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.crossroad {
  background-color: var(--light-blue);
  display: flex;
  justify-content: space-between;
  background-size: 40px 40px;
  height: 100vh;
  background-image: linear-gradient(to right, var(--white) 1px, transparent 1px),
    linear-gradient(to bottom, var(--white) 1px, transparent 1px);
}

.question__content {
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--light-green);
  min-width: 70%;
  max-width: 80%;
  height: 65%;
  border: 2px solid black;
  box-shadow: 20px -20px var(--white), 20px -20px 0 2px var(--black),
    40px -40px var(--white), 40px -40px 0 2px var(--black);
}

.question__rod {
  background-color: var(--light-green);
  flex-basis: 5%;
  display: flex;
  border-top: 1px solid var(--white);
  justify-content: center;

}

.question__navbar {
  background-color: var(--light-pink);
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 10px;
  border-bottom: 2px solid var(--black);
}

.question__navbar-cross::before {
  content: 'x';
  color: var(--black);
  font-weight: 300;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

.question__navbar-resize-pink {
  width: 15px;
  height: 15px;
  border: 2px solid var(--black);
  box-shadow: 2px -2px var(--light-pink), 2px -2px 0 2px var(--black);
}

.question__navbar-resize-blue {
  width: 15px;
  height: 15px;
  border: 2px solid var(--black);
  box-shadow: 2px -2px var(--light-blue), 2px -2px 0 2px var(--black);
}

/*          <div>vih c'est surfait, mais l'attraper vite fait </div>*/
.question__navbar-reduce {
  width: 15px;
  border-bottom: 2px solid var(--black);
}

.question__rod-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
}
.question__rod-text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  overflow: hidden;
}

.question__rod-text > span {
  word-spacing: 60px;
  text-transform: uppercase;
  font-size: 30px;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;

  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

.question__rod-text-right > span {
  word-spacing: 60px;
  text-transform: uppercase;
  font-size: 30px;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation-2 10s linear infinite;
  -webkit-animation: my-animation-2 10s linear infinite;
  animation: my-animation-2 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateY(-100%); }
  to { -moz-transform: translateY(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateY(-100%); }
  to { -webkit-transform: translateY(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

/* for Firefox */
@-moz-keyframes my-animation-2 {
  from { -moz-transform: translateY(100%); }
  to { -moz-transform: translateY(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation-2 {
  from { -webkit-transform: translateY(100%); }
  to { -webkit-transform: translateY(-100%); }
}

@keyframes my-animation-2 {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.question__grid {
  height: 85%;
  display: grid;
  grid: repeat(2, auto) / repeat(1, auto);
  justify-items: center;
}

.question__phrase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__phrase-content {
  border: var(--black) solid 2px;
  padding: 40px;
  background-color: var(--white);
  width: 90%;
  margin: auto;
  font-size: 1rem;
  font-weight: bold;
  text-align: justify;
}

.question__phrase-answer {
  display: flex;
  gap: 50px;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.information__content {
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--light-yellow);
  min-width : 55%;
  max-width: 65%;
  height: 65%;
  border: 2px solid black;
  box-shadow: -20px 20px var(--white), -20px 20px 0 2px var(--black),
    -40px 40px var(--white), -40px 40px 0 2px var(--black);
}

.header {
  height: 15vh;
  display: flex;
}

.header__logo {
  height: 75%;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-resize {
  height: 100%;
}

.footer {
  height: 15%;
  text-align: center;
}

.footer__button-pink {
  background-color: white;
  border: black solid 2px;
  padding: 1% 2% 1% 2%;
  font-weight: 2rem;
  font-weight: bold;
}

.footer__button-pink:hover {
  background-color: var(--light-pink);
}

.footer__button-blue {
  background-color: white;
  border: black solid 2px;
  padding: 1% 2% 1% 2%;
  font-weight: 2rem;
  font-weight: bold;
}

.footer__button-blue:hover {
  background-color: var(--light-blue);
}

.finish {
  height: 55%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finish__text {
  border: black solid 2px;
  background-color: white;
  padding: 4% 4% 4% 4%;
  font-weight: bold;
  font-size: 1rem;
  text-align: justify;
}

.next {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next__button {
  margin: auto;
  background-color: white;
  border: black solid 1px;
  padding: 1% 2% 1% 2%;
  font-weight: 2rem;
  border: black solid 2px;
  font-weight: bold;
}

.next__button:hover {
  background-color: var(--light-blue);
}

button {
  border: 2px solid var(--black);
  height: 50px;
  background-color: white;
  font-weight: bold;

}

.crossroad__middle {
  width: 100%;
}

.crossroad__button:hover {
  background-color: var(--light-pink);
}

.straightroad__navbar {
  background-color: var(--light-blue);
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: flex-end;
  padding-right: 10px;
  border-bottom: 2px solid var(--black);
}